DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
LOG_CHANNEL_ID=
WELCOME_CHANNEL_ID=
ROLE_WELCOME_ID=
COLOR=

# Ticket System Configuration
TICKET_CHANNEL_ID=
TICKET_LOGS_CHANNEL_ID=
TICKET_CATEGORY_ID=